:root {
    --primary-color: white;
    --secondary-color: #ccdbff;
    --primary-accent: #192655;
}

.parent {
 background-color: var(--primary-color)
}

.primary-color {
color: var(--primary-color)
}

.secondary-color {
 background-color: var(--secondary-color);
}

.primary-accent {
  background-color: var(--primary-accent);
}