html{
 background-color: #D6C7AE;
}
.itemCard{
 display: inline-block;
 margin: 10px;
 justify-content: center;
 text-align: center;
 width: 280px;
}
.items{
 justify-content: center;
 text-align: center;
 background-color: #F3F0CA;
 border-radius: 15px;
}
.selection{
    justify-content: center;
    background-color: #F3F0CA;
    border-radius: 15px;
}
.itemDetail{
    background-color: #FFFFEF;
    border-radius: 15px;
}