:root {
  --primary-color: #15191f;
  /*--secondary-color: #ccdbff;*/
  --secondary-color: rgba(61, 58, 58, 0.29);
  --primary-accent: #192655;
  --card-info-background: var(--secondary-color);
  --text-color: #F4DFC8;
  --text-color2: #AAAAAA;
  --text-color3: #265073;
}

input[type="checkbox"] {
  background-color: var(--text-color);
}

input[type="checkbox"]:checked{
  background-color: var(--primary-accent);
  border-color: var(--primary-accent);
  color: var(--primary-accent);
}

input[type="radio"] {
  background-color: var(--text-color);
}

input[type="radio"]:checked{
  background-color: var(--primary-accent);
  border-color: var(--primary-accent);
  color: var(--primary-accent);
}

input[type="search"] {
  background-color: white;
  border: var(--text-color);
}

html{
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
.text{
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}
.formSelectText{
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.itemCard{
    display: inline-block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    width: 280px;
    border-radius: 5px; /*!important;*/
}
.items{
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.profileItems{
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 15px;
}
.selection{
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 300px;
}
.itemDetail{
    /*background-color: var(--primary-color);*/
    border-radius: 5px;
}
.logoBar{
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 1000px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.logoBar h1{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.itemCarousel{
  justify-content: center;
  background-color:#0F0E0E;
  border-radius: 5px;
  height: 520px;
}
.itemCardInfo{
  justify-content: center;
  /*background-color: var(--secondary-color);*/
  background-color: var(--card-info-background);
  border-radius: 5px;
  height: 250px;
  margin-bottom: 20px;
}
.itemCardUserInfo{
  justify-content: center;
  /*background-color: var(--secondary-color);*/
  background-color: var(--card-info-background);
  border-radius: 5px;
  height: 250px;
}
.itemCardDetails{
  justify-content: center;
  /*background-color: var(--secondary-color);*/
  background-color: var(--card-info-background);
  border-radius: 5px;
  height: auto;
}
.itemCardDetails h1{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  margin-top: 5px;
}
.createListing{
  margin-bottom: 15px;
}
.userInfo{
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 350px;
  margin-bottom: 15px;
}
.itemUserInfo{
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 15px;
}
.profilePhoto{
  border-radius: 50%;
  /*border: 7px solid var(--secondary-color);*/
  border: 4px solid var(--text-color3);
  width: 180px;
  height: 180px;
  margin-top: 15px;
}
.itemProfilePhoto{
  border-radius: 50%;
  /*border: 7px solid var(--secondary-color);*/
  border: 4px solid var(--text-color3);
  margin-top: 15px;
}
.userInfo h1{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}
.userInfo h2{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 87.523%; /* 15.754px */
  margin-top: 15px;
}
.userInfo h3{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.userInfo h4{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.userInfo h5{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.userInfo hr{
  border: 1px solid var(--primary-color);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.itemUserInfo h1{
  color: var(--primary-accent);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}
.itemUserInfo h2{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 87.523%; /* 15.754px */
  margin-top: 15px;
}
.itemUserInfo h3{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.itemUserInfo h4{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.itemUserInfo h5{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 87.523%; /* 14.004px */
  margin-top: 15px;
}
.itemUserInfo hr{
  border: 1px solid var(--primary-color);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.itemPrice{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  margin-left: 15px;
  margin-top: 5px;
} 
.postDate{
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  margin-left: 15px;
  margin-top: 5px;
}
.gradient-background {
    background: linear-gradient(300deg, #192655, var(--secondary-color), #FFFFEF,var(--secondary-color),#192655);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .gradient-background-2{
    background: linear-gradient(300deg, var(--primary-color), var(--secondary-color), var(--text-color), var(--secondary-color),var(--primary-color));
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }