html{
    background-color: #D6C7AE;
}
.itemCard{
    display: inline-block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    width: 280px;
}
.items{
    background-color: #F3F0CA;
    border-radius: 15px;
}
.selection{
    justify-content: center;
    background-color: #F3F0CA;
    border-radius: 15px;
}
.itemDetail{
    background-color: #FFFFEF;
    border-radius: 15px;
}
.logoBar{
  justify-content: center;
  background-color: #F3F0CA;
  border-radius: 15px;
  width: 1000px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.itemCarousel{
  justify-content: center;
  background-color: #F3F0CA;
  border-radius: 15px;
  height: 500px;
}
.itemCardInfo{
  justify-content: center;
  background-color: #F3F0CA;
  border-radius: 15px;
  height: 280px;
  margin-bottom: 20px;
}
.itemCardUserInfo{
  justify-content: center;
  background-color: #F3F0CA;
  border-radius: 15px;
  height: 200px;
}
.itemCardDetails{
  justify-content: center;
  background-color: #F3F0CA;
  border-radius: 15px;
  height: 500px;
  margin-top: 20px;
}
.gradient-background {
    background: linear-gradient(300deg, #192655, #D6C7AE, #FFFFEF,#D6C7AE,#192655);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }